@use 'scene';

body {
    font-family: "Sawarabi Mincho", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background: #1c1c1c; 
    color: #edfdff;
    h1 {
        color: red;
    }
}







